/* CSS HEX */
/* --brunswick-green: #065143ff;
--platinum: #dee5e5ff;
--chocolate-cosmos: #4c191bff;
--celtic-blue: #276fbfff;
--hunyadi-yellow: #e09f3eff; */
.textPlat{
  color: #dee5e5ff;
}
.button{
  background-color: #e09f3eff;
}
.hideLink{
  color: #065143ff;
  text-decoration: none;
}
.bg-green{
  padding: 1%;
  background-color: #065143ff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dee5e5ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #dee5e5ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



